{% extends 'base.html' %} {% set title = "Grizzly: CoursePrep" %}
{% block content
%}
<div id="app">
    <div>
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
            <div class="px-4 py-5 sm:px-6">
                <div class="text-2xl font-semibold">Import</div>
            </div>
            <div class="px-4 py-5 sm:p-6">
                <div><em>Instructions:</EM> Please select a cp-import file to import and then click the import button
                    below. Once the import is finished, please review the output message for any errors or additional
                    tasks.</div>

            </div>
        </div>
    </div>
    <script>{% include 'app.js' %}</script>
    {% endblock %}